/*navbar*/
.navbar{
	box-shadow: 2px 0 6px rgba(0,0,0,.5);
}


/*modal*/
.modal .modal-header,
.modal .modal-footer{
	border: none;
}
.modal .modal-body form{
	margin: auto;
	width: 75%;
}

.modal .form-control:focus{
	box-shadow: none;
	border: 1px solid #ffC107;
}

/*icon*/
span.icon:hover{
	cursor: pointer;
	opacity: .8;
}